accelerate launch --num_cpu_threads_per_process 1 train_network.py
    --pretrained_model_name_or_path="{{ values["sd_path"] }}"
    --dataset_config="{{ values["toml_path"] }}"
    --output_dir="{{ values["model_output_dst"] }}"
    --output_name="{{ values["model_name"] }}"
    --save_model_as="{{ CONFIG["save_model_as"] }}"
    --max_train_steps={{ values["steps"] }}
    --learning_rate={{ values["learning_rate"] }}
    --optimizer_type="{{ CONFIG["training_default_args"]["optimizer"] }}"
    --optimizer_args{% for arg in CONFIG["training_default_args"]["optimizer_args"] %} "{{ arg }}"{% endfor %}
    --sample_every_n_steps={{ CONFIG["sample"]["interval_steps"]}}
    --sample_prompts="{{ values["sample_prompt_path"] }}"
    --sample_sampler={{ CONFIG["sample"]["sampler"]}}
    {% for option in CONFIG["training_default_args"]["training_options"] %}{{ option }}
    {% endfor %}