accelerate launch --num_cpu_threads_per_process {{CONFIG["training_default_args"]["num_cpu_threads"]}} {% if values["Is SDXL"] %}sdxl_train_network.py{% else %}train_network.py{% endif %}
    --pretrained_model_name_or_path="{{ values["StableDiffusion Model Path"] }}"
    --dataset_config="{{ values["toml_path"] }}"
    --output_dir="{{ values["dst"] }}"
    --output_name="{{ values["Model Name"] }}"
    --save_model_as="{{ CONFIG["save_model_as"] }}"
    --sample_every_n_steps={{ CONFIG["sample"]["interval_steps"]}}
    --sample_prompts="{{ values["sample_prompt_path"] }}"
    --resolution="{% if values["Is SDXL"] %}1024{% else %}512{% endif %}"
    {% for option in OPTIONS["default"] %}{{ option }}
    {% endfor %}
    {% for label, v in OPTIONS["values"].items() %}{{ v["option"] }}="{{ values[label] }}"
    {% endfor %}
    {% for label, option in OPTIONS["flags"].items() %}{% if values[label] %}{{ option }}
    {% endif %}{% endfor %}
    {% for label, v in OPTIONS["selects"].items() %}{{ v["option"] }}="{{ values[label] }}"
    {% endfor %}
    {% for label, v in OPTIONS["types"].items() %}{% for option in v[values[label]]["options"] %}{{ option }}
    {% endfor %}{% endfor %}
